<html>
	<head>
<% include header.ejs %>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link rel="stylesheet" type="text/css" href="/css/table.css">
		<link rel="stylesheet" type="text/css" href="/css/nav.css">
		<link rel="stylesheet" type="text/css" href="/css/select.css">
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="/js/highcharts-regression.js"></script>
		<script src="/js/XPVP.js"></script>
		<script src="/js/google-analytics.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
	</head>
	<body>
<% include nav.ejs %>
		<div id="search-submit">
			<form method="get">
				<span class="search-label">X Axis:</span>
					<select id="x" name="x">
						<option selected="selected" value="xp">XP</option>
						<option value="vp">VP</option>
						<option value="min">Minimum</option>
						<option value="max">Maximum</option>
						<option value="average">Average</option>
						<option value="median">Median</option>
						<option value="ratio">Ratio</option>
					</select>
				<span class="search-label">Y Axis:</span>
					<select id="y" name="y">
						<option value="xp">XP</option>
						<option selected="selected" value="vp">VP</option>
						<option value="min">Minimum</option>
						<option value="max">Maximum</option>
						<option value="average">Average</option>
						<option value="median">Median</option>
						<option value="ratio">Ratio</option>
					</select>
				<span class="search-label">Graph Type:</span> 
					<select id="graph-type" name="graphtype">
						<option value="linear">Linear</option>
						<option selected="selected" value="exponential">Exponential</option>
						<option value="polynomial">Polynomial</option>
						<option value="logarithmic">Logarithmic</option>
					</select>
				<span class="search-label">Month:</span>
					<select id="month" name="month">
						<option value="1">January</option>
						<option selected="selected" value="2">February</option>
						<option value="3">March</option>
						<option value="4">April</option>
						<option value="5">May</option>
						<option value="6">June</option>
						<option value="7">July</option>
						<option value="8">August</option>
						<option value="9">September</option>
						<option value="10">October</option>
						<option value="11">November</option>
						<option value="12">December</option>
					</select>
				<span class="search-label">Year:</span> 
					<select id="year" name="year">
						<option value="2015">2015</option>
						<option selected="selected" value="2016">2016</option>
					</select>
				<input type="submit" value="Submit">
			</form>
		</div>
		<br>
		<div id="container"></div>
		<!--div class="table-wrapper"> 
			<table id="istats-table">
				<tr>
					<th>Level</th>
					<th>Min VP</th>
					<th>Max VP</th>
					<th>Average VP</th>
					<th>Standard Deviation</th>
					<th>Median VP</th>
					<th>Ratio VP</th>
					<th>Number of Entries</th>
					<th>List of VP</th>
				</tr>
				<% for(var i = 0; i < statistics.length; ++i) { %>
				<tr>
					<td><%= statistics[i]["_id"] %></td>
					<td><%= statistics[i]["min"] %></td>
					<td><%= statistics[i]["max"] %></td>
					<td><%= parseInt(statistics[i]["average"]) %></td>
					<td><%= statistics[i]["stdDev"] %></td>
					<td><%= statistics[i]["median"] %></td>
					<td><%= statistics[i]["ratio"].toPrecision(4) %></td>
					<td><%= statistics[i]["vpList"].length %></td>
					<td>	<% for(var j = 0; j <= parseInt(statistics[i]["vpList"].length/6); ++j) { %>
						<%= 	statistics[i]["vpList"].slice(j *  6, j * 6 + 6).join(", ") %>
							<br>
						<% } %>

					</td>
				</tr>
				<% } %>
			</table>
		</div-->
<% include footer.ejs %>
	</body>
</html>
